<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.server.mapper.ProbeInfoCpuMapper">
    <resultMap id="ProbeCpuMap" type="com.mf.server.model.CpuDo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="probe_info_id" property="probeInfoId" jdbcType="INTEGER"/>
        <result column="cpu_num" property="cupNum" jdbcType="INTEGER"/>
        <result column="total" property="total" jdbcType="DOUBLE"/>
        <result column="sys" property="sys" jdbcType="DOUBLE"/>
        <result column="used" property="used" jdbcType="DOUBLE"/>
        <result column="wait" property="wait" jdbcType="DOUBLE"/>
        <result column="free" property="free" jdbcType="DOUBLE"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <insert id="addProbeCpuInfo" parameterType="com.mf.server.model.CpuDo">
        insert into `server`.tb_probe_cpu
            (
             probe_info_id,
             cpu_num,
             total,
             sys,
             used,
             wait,
             free
             )
        values
            (
             #{probeInfoId},
             #{cupNum},
             #{total},
             #{sys},
             #{used},
             #{wait},
             #{free}
            )
    </insert>
    <update id="updateProbeCpuInfo" parameterType="com.mf.server.model.CpuDo">
        update `server`.tb_probe_cpu
        set cpu_num=#{cupNum}, total=#{total}, sys=#{sys}, used=#{used}, wait=#{wait}, free=#{free}
        where probe_info_id = #{probeInfoId}
    </update>
    <select id="getProbeCpuByProbeInfoId" parameterType="long" resultMap="ProbeCpuMap">
        select * from `server`.tb_probe_cpu where id=#{id};
    </select>

</mapper>