<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.server.mapper.ProbeInfoMapper">
    <resultMap id="ProbeInfoMap" type="com.mf.server.model.ProbeInfoDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <result column="probe_id" property="probeId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="metrics"
                    ofType="com.mf.server.model.MetricDo"
                    column="id"
                    select="com.mf.server.mapper.MetricMapper.getMetricsByProbeId"
        />

        <collection property="taskQueue"
                    ofType="com.mf.server.model.ProbeTaskDo"
                    column="id"
                    select="com.mf.server.mapper.ProbeTaskMapper.getProbeTasksByProbeId"
        />
    </resultMap>
    <select id="selectProbeInfoByProbeId" resultMap="ProbeInfoMap">
        select * from `server`.tb_probe_info
        where probe_id = #{probeId}
    </select>
    <update id="updateProbeInfo">
        update `server`.tb_probe_info
        set
            customer_id = #{customerId},
            probe_id = #{probeId},
            update_time = #{updateTime}
        where id =#{id}
    </update>
    <insert id="insertProbeInfo">
        insert into `server`.tb_probe_info
            (
                customer_id,
                probe_id,
                status
            )
        values
            (
             #{customerId},
             #{probeId},
             #{status}
            )
    </insert>
    <select id="getProbeList" resultMap="ProbeInfoMap">
        select * from `server`.tb_probe_info;
    </select>
    <update id="updateStatus" parameterType="list">
        <foreach collection="list" item="item" index="index">
            update `server`.tb_probe_info
            set status = 1
            where id = #{item.id}
        </foreach>
    </update>
</mapper>