<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.server.mapper.ProbeTaskMapper">
    <resultMap id="ProbeTaskMap" type="com.mf.server.model.ProbeTaskDo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="probe_info_id" property="probeInfoId" jdbcType="INTEGER"/>
        <result column="probe_id" property="probeId" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="getProbeTasksByProbeId" resultMap="ProbeTaskMap">
        select * from `server`.tb_probe_task_queue  where probe_info_id=#{probeInfoId}
    </select>
    <insert id="addProbeTaskInfo" parameterType="list">
        insert into `server`.tb_probe_task_queue
        (
            probe_info_id,
            probe_id,
            customer_id,
            task_name,
            status
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">

            (
                #{item.probeInfoId},
                #{item.probeId},
                #{item.customerId},
                #{item.taskName},
                #{item.status}
            )
        </foreach>
    </insert>
    <update id="updateTaskInfo" parameterType="list">
        <foreach collection="list" item="item" index="index" separator=";">
            update `server`.tb_probe_task_queue
            set probe_info_id=#{item.probeInfoId}, probe_id=#{item.probeId}, customer_id=#{item.customerId}, task_name=#{item.taskName}, status=#{item.status}
            where probe_info_id = #{item.probeInfoId}
        </foreach>
    </update>

</mapper>