<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.server.mapper.ProbeInfoJvmMapper">
    <resultMap id="ProbeJvmMap" type="com.mf.server.model.JvmDo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="probe_info_id" property="probeInfoId" jdbcType="INTEGER"/>
        <result column="total" property="total" jdbcType="DOUBLE"/>
        <result column="max" property="max" jdbcType="DOUBLE"/>
        <result column="free" property="free" jdbcType="DOUBLE"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="home" property="home" jdbcType="VARCHAR"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="getProbeJvmInfoByProbeInfoId" resultMap="ProbeJvmMap">
        select * from `server`.tb_probe_jvm where probe_info_id=#{probeInfoId}
    </select>
    <insert id="addProbeJvmInfo" parameterType="com.mf.server.model.JvmDo">
        insert into `server`.tb_probe_jvm
            (
                probe_info_id,
                total,
                max,
                free,
                version,
                home
            )
        values
            (
                #{probeInfoId},
                #{total},
                #{max},
                #{free},
                #{version},
                #{home}
            )
    </insert>
    <update id="updateProbeJvmInfo" parameterType="com.mf.server.model.JvmDo">
        update `server`.tb_probe_jvm
        set probe_info_id=#{probeInfoId}, total=#{total}, max=#{max}, free=#{free}, version=#{version}, home=#{home}
        where probe_info_id = #{probeInfoId}

    </update>

</mapper>