<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.server.mapper.ProbeInfoOsMapper">
    <resultMap id="ProbeOsMap" type="com.mf.server.model.OsInfoDo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="probe_info_id" property="probeInfoId" jdbcType="INTEGER"/>
        <result column="computer_name" property="computerName" jdbcType="VARCHAR"/>
        <result column="computer_ip" property="computerIp" jdbcType="VARCHAR"/>
        <result column="user_dir" property="userDir" jdbcType="VARCHAR"/>
        <result column="os_name" property="osName" jdbcType="VARCHAR"/>
        <result column="os_arch" property="osArch" jdbcType="VARCHAR"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="getProbeOsInfoByProbeInfoId" resultMap="ProbeOsMap">
        select * from `server`.tb_probe_os  where probe_info_id=#{probeInfoId}
    </select>
    <insert id="addProbeOsInfo" parameterType="com.mf.server.model.OsInfoDo">
        insert into `server`.tb_probe_os
        (
                probe_info_id,
                computer_name,
                computer_ip,
                user_dir,
                os_name,
                os_arch
            )
        values
            (
                #{probeInfoId},
                #{computerName},
                #{computerIp},
                #{userDir},
                #{osName},
                #{osArch}
            )
    </insert>
    <update id="updateProbeOsInfo" parameterType="com.mf.server.model.OsInfoDo">
        update `server`.tb_probe_os
        set probe_info_id=#{probeInfoId}, computer_name=#{computerName}, computer_ip=#{computerIp}, user_dir=#{userDir}, os_name=#{osName}, os_arch=#{osArch}
        where probe_info_id = #{probeInfoId}
    </update>

</mapper>